.ui.menu{
    border-radius: 0px;
}
body{
    background-color: #cdcdcd;
}
#mainmenu {
    position: fixed;
    z-index: 1;
    background-color: #1b1c1d;
    width: 18%;
    height: 100vh;
}
#mainpage{
    float: right;
    width: 82%;
    margin-right: 18%;
}
#maincontent{
    padding: 10px;
}
#mainmenu .ui.menu{
    width: 100%;
}
.toppage{
    width: 100%;
    display: block;
    padding: 10px;
    height: 50px;
    color: #fff;
    background-color: rgba(125, 125, 125, 1);
}
.toppage.menu{
    background-color: rgba(125, 125, 125, .5);
}
.web-title{
    font-size: 30px;
    position: absolute;
    top: 40px;
}
.ui.fixed.sticky.top{
    margin-top: 55px !important;
}
#haedpage{
    width: 100%;
}
#haedpage .logo{
    width: 100px;
}
.mygrid{
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    float: right;
    width: 100%;
}
.mygrid .follow{
    float: left;
}
.mygrid .author{
    width: 100%;
    float: right;
    margin-bottom: 3px;
}
.mygrid .author-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: right;
}
.mygrid .author-name,.mygrid .category{
    margin-top: 12px;
    float: right;
    margin-right: 9px;
    font-size: 16px;
}
.mygrid .category{
    float: left;

}
.mygrid .articel-image{
    max-height: 300px;
    overflow: hidden;
}
.articel-image img{
    width: 100%;
}
.mygrid .title{
    margin: 15px;
}
.sub-content{
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    text-align: justify;
}
.rigister{
    width: 100%;
}
.topArticle{
    position: relative;
    margin: 0px 5px;
    height: 260px;
}
.topArticle img{
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.topArticle a{
    position: absolute;
    bottom: -5px;
    border-radius: 0px 0px 5px 5px;
    background-color: #2d2d2d;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 15px;
}

footer{
    background-color: #242424;
    color: #cdcdcd;
}