.ui.secondary.inverted.menu {
	background-color: #ececec;
	padding: 5px 25px;
	border-bottom: 2px #343434;
}
body{
	max-width: 1720px !important;
	display: block;
	margin: auto;
}
a{
	text-decoration: none;
}
h1, h2, h3, h4, h5,div,p,.header{
	font-family: calibri  !important;
}
#me{
	z-index: 105;
}
.font-en{
	text-align: left !important;
	direction: ltr !important;
}
.ui.form .field:last-child, .ui.form .fields .fields, .ui.form .fields:last-child .field {
    margin-bottom: 5px;
}

.ui.dropdown > .remove.icon{
	left: 3em;
	right: auto;
}
.ui.dropdown.rtlen > .remove.icon{
	right: 3em;
	left: auto;
}
.ui.label:not(.icon) > .close.icon, .ui.label:not(.icon) > .delete.icon{
	margin : 0 .5em 0 0;
}
.notpa{
	padding: 0px !important;
}
.ui.button,.ui.label{
	margin-top: 2px;
}
.ui.grid{
	margin: 0px;
}
.ui.menu{
	border-radius: 0px;
}
.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
	left: 1rem;
	right: auto;
}
.ui.selection.dropdown.rtlen>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
	right: 1rem;
	left: auto;
}


div.divnotpad{
	padding: 0px !important;
}
.ui.button{
	margin-top: 2px;
	font-family: calibri;
}
.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child{
	border-left: 1px solid rgba(34,36,38,.1);
}
.ui.input input{
	text-align: right;
}
.ui.input input.font-en{
	text-align: left;
}

.ui.centered.grid > .column:not(.aligned):not(.justified):not(.row), .ui.centered.grid > .row > .column:not(.aligned):not(.justified), .ui.grid .centered.row > .column:not(.aligned):not(.justified) {
    text-align: right;
}
.ui .right .sidebar{
	z-index: 1;
}
.ui.dropdown,.ui.dropdown .menu > .item, .ui.menu .ui.dropdown .menu > .item {
    text-align: right;
}
.ui.dropdown.rtlen {
    text-align: left !important;
}
.ui.selection.dropdown.nomin {
    min-width: 25px;
}
.ui.cards > .card > .image > img {
    height: 100%;
}
.ui.cards > .card > .image {
    height: 230px;
}
.ui.card > .content > .header, .ui.cards > .card > .content > .header{
	font-family: "mef";
}
.ui.dropdown.dropen{
	font-family: sans-serif;
	direction: ltr;
}
.ui.selection.dropdown{
	min-width: auto;
}
.ui.form .field > .selection.dropdown > .dropdown.icon{
	left: 1em !important;
	right: auto;
}
.ui.form .field > .selection.dropdown.rtlen > .dropdown.icon{
	right: 1em !important;
	left: auto;
	text-align: right;
}
.ui.selection.dropdown{
	padding: .78571429em 1em .78571429em 2.1em;
}
.ui.selection.dropdown.rtlen{
	padding: .78571429em 2.1em .78571429em 1em;
}
.ui.multiple.search.dropdown > .text{
	left: auto;
	right: 0px;
}

.ui.modal{
    text-align: right;
}
.ui.modal > .header{
	padding: 5px 15px;
}
.ui.fullscreen.modal > .close {
    top: 0.054rem;
    left: 1rem;
    right: auto;
}
.ui.modal > .content{
	padding: 5px 10px;
}
.ui.modal > .close{
    right: auto;
    left: 1rem;
	
}
.ui.table{
	text-align: right;
}
.ui.table th{
	padding: .78571429em .78571429em;
}
.ui.checkbox{
	border: .5px solid;
	padding: 10px;
	border-radius: 3px;
	margin: 3px;
}

.ui.checkbox.is-checkbox{
	padding: 7px;
	margin-top: 0px !important;
	width: 100%;
}
.ui.celled.table > tbody > tr > td:first-child, .ui.celled.table > tbody > tr > th:first-child, .ui.celled.table > tfoot > tr > td:first-child, .ui.celled.table > tfoot > tr > th:first-child, .ui.celled.table > thead > tr > th:first-child, .ui.celled.table > tr > td:first-child, .ui.celled.table > tr > th:first-child{
	border-left: 1px solid rgba(34,36,38,.1);
}
.ui.search.dropdown.prt > .text{
	text-align:center;
	width: inherit;
	font-family: calibri;
}

.ui.label{
	font-family: calibri;
}

.ui.button{
	margin-right: 0px;
}
.ui.label > .close.icon, .ui.label > .delete.icon{
	margin-left: auto;
	margin-right: .5em;
}
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
	width: 100%;
}

.ui.clearable.dropdown .text, .ui.clearable.dropdown a:last-of-type {
	margin-left: 1.5em !important;
	margin-right: auto !important;
}
.ui.clearable.dropdown.rtlen .text, .ui.clearable.dropdown a:last-of-type {
	margin-right: 1.5em !important;
	margin-left: auto !important;
}
.ui.search.selection.dropdown > input.search {
    line-height: 1.21428571em;
    padding: .67857143em 1.2em .67857143em 1em;
}
.ui.search.selection.dropdown.rtlen > input.search {
    padding: .67857143em 1em .67857143em 1.2em;
}
.ui.grid > .column:not(.row), .ui.grid > .row > .column{
	padding: 5px !important;
}
.ui.block.header{
	height: 100% !important;
}
.ui.block.message{
	padding: 5px;
}
.ltr-form .field label{
	text-align: center !important;
}